*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    height: 100vh;
    background-color: aqua;
}

/* .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* sezione main video */
.video{
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 100px - 70px);
    padding: 50px 50px 20px 50px;
    background-color: black;
}

.video .member{
    position: relative;
    margin-right: 5px;
    width: calc(100% / 7 - 5px);
    height: calc(100% / 5 - 10px);
}


.video .member .member-name{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(102, 112, 124, 0.7);
}


/* bottom section control bar */
.control{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(34, 34, 34);
    font-size: 2em;
}

.control-mid{
    display: flex;
    justify-content: space-between;
}

.control-left{
    display: flex;
    justify-content: flex-start;
}

.control-right{
    display: flex;
    justify-content: flex-end;
}

.control > div{
    border: 1px solid red;
    width: 200px;
}

.control > div > div{
    background-color: blueviolet;
    border: 1px solid yellow;
    width: 20px;
}
/* end of bottom section control bar */